@tailwind components;
@tailwind utilities;

@layer components {
  .all-\[unset\] {
    all: unset;
  }
}

:root {
  --accessibility-focus-inner: rgba(16, 18, 19, 1);
  --accessibility-focus-outer: rgba(255, 211, 55, 1);
  --actions-base-font-family: "Roboto", Helvetica;
  --actions-base-font-size: 16px;
  --actions-base-font-style: normal;
  --actions-base-font-weight: 500;
  --actions-base-letter-spacing: 0px;
  --actions-base-line-height: 24px;
  --actions-s-font-family: "Roboto", Helvetica;
  --actions-s-font-size: 14px;
  --actions-s-font-style: normal;
  --actions-s-font-weight: 500;
  --actions-s-letter-spacing: 0px;
  --actions-s-line-height: 21px;
  --actions-XS-bold-font-family: "Roboto", Helvetica;
  --actions-XS-bold-font-size: 12px;
  --actions-XS-bold-font-style: normal;
  --actions-XS-bold-font-weight: 700;
  --actions-XS-bold-letter-spacing: 0px;
  --actions-XS-bold-line-height: 18px;
  --actions-XS-font-family: "Roboto", Helvetica;
  --actions-XS-font-size: 12px;
  --actions-XS-font-style: normal;
  --actions-XS-font-weight: 500;
  --actions-XS-letter-spacing: 0px;
  --actions-XS-line-height: 18px;
  --brand-secondary-base: rgba(48, 61, 96, 1);
  --brandprimary-base: rgba(0, 121, 200, 1);
  --button-state-focus: 0px 0px 0px 2px rgba(144, 194, 252, 1);
  --desktop-body-base-font-family: "Roboto", Helvetica;
  --desktop-body-base-font-size: 16px;
  --desktop-body-base-font-style: normal;
  --desktop-body-base-font-weight: 400;
  --desktop-body-base-letter-spacing: 0px;
  --desktop-body-base-line-height: 24px;
  --desktop-body-s-font-family: "Roboto", Helvetica;
  --desktop-body-s-font-size: 14px;
  --desktop-body-s-font-style: normal;
  --desktop-body-s-font-weight: 400;
  --desktop-body-s-letter-spacing: 0px;
  --desktop-body-s-line-height: 21px;
  --desktop-body-XS-font-family: "Roboto", Helvetica;
  --desktop-body-XS-font-size: 12px;
  --desktop-body-XS-font-style: normal;
  --desktop-body-XS-font-weight: 400;
  --desktop-body-XS-letter-spacing: 0px;
  --desktop-body-XS-line-height: 18px;
  --desktop-display-bold-font-family: "Roboto", Helvetica;
  --desktop-display-bold-font-size: 36px;
  --desktop-display-bold-font-style: normal;
  --desktop-display-bold-font-weight: 700;
  --desktop-display-bold-letter-spacing: 0px;
  --desktop-display-bold-line-height: 45px;
  --desktop-display-light-font-family: "Roboto", Helvetica;
  --desktop-display-light-font-size: 36px;
  --desktop-display-light-font-style: normal;
  --desktop-display-light-font-weight: 300;
  --desktop-display-light-letter-spacing: 0px;
  --desktop-display-light-line-height: 45px;
  --desktop-display-regular-font-family: "Roboto", Helvetica;
  --desktop-display-regular-font-size: 36px;
  --desktop-display-regular-font-style: normal;
  --desktop-display-regular-font-weight: 400;
  --desktop-display-regular-letter-spacing: 0px;
  --desktop-display-regular-line-height: 45px;
  --desktop-display-semibold-font-family: "Roboto", Helvetica;
  --desktop-display-semibold-font-size: 36px;
  --desktop-display-semibold-font-style: normal;
  --desktop-display-semibold-font-weight: 500;
  --desktop-display-semibold-letter-spacing: 0px;
  --desktop-display-semibold-line-height: 45px;
  --desktop-h1-bold-font-family: "Roboto", Helvetica;
  --desktop-h1-bold-font-size: 32px;
  --desktop-h1-bold-font-style: normal;
  --desktop-h1-bold-font-weight: 700;
  --desktop-h1-bold-letter-spacing: 0px;
  --desktop-h1-bold-line-height: 40px;
  --desktop-h1-light-font-family: "Roboto", Helvetica;
  --desktop-h1-light-font-size: 32px;
  --desktop-h1-light-font-style: normal;
  --desktop-h1-light-font-weight: 300;
  --desktop-h1-light-letter-spacing: 0px;
  --desktop-h1-light-line-height: 40px;
  --desktop-h1-regular-font-family: "Roboto", Helvetica;
  --desktop-h1-regular-font-size: 32px;
  --desktop-h1-regular-font-style: normal;
  --desktop-h1-regular-font-weight: 400;
  --desktop-h1-regular-letter-spacing: 0px;
  --desktop-h1-regular-line-height: 40px;
  --desktop-h1-semibold-font-family: "Roboto", Helvetica;
  --desktop-h1-semibold-font-size: 32px;
  --desktop-h1-semibold-font-style: normal;
  --desktop-h1-semibold-font-weight: 500;
  --desktop-h1-semibold-letter-spacing: 0px;
  --desktop-h1-semibold-line-height: 40px;
  --desktop-h2-bold-font-family: "Roboto", Helvetica;
  --desktop-h2-bold-font-size: 28px;
  --desktop-h2-bold-font-style: normal;
  --desktop-h2-bold-font-weight: 700;
  --desktop-h2-bold-letter-spacing: 0px;
  --desktop-h2-bold-line-height: 35px;
  --desktop-h2-light-font-family: "Roboto", Helvetica;
  --desktop-h2-light-font-size: 28px;
  --desktop-h2-light-font-style: normal;
  --desktop-h2-light-font-weight: 300;
  --desktop-h2-light-letter-spacing: 0px;
  --desktop-h2-light-line-height: 35px;
  --desktop-h2-regular-font-family: "Roboto", Helvetica;
  --desktop-h2-regular-font-size: 28px;
  --desktop-h2-regular-font-style: normal;
  --desktop-h2-regular-font-weight: 400;
  --desktop-h2-regular-letter-spacing: 0px;
  --desktop-h2-regular-line-height: 35px;
  --desktop-h2-semibold-font-family: "Roboto", Helvetica;
  --desktop-h2-semibold-font-size: 28px;
  --desktop-h2-semibold-font-style: normal;
  --desktop-h2-semibold-font-weight: 500;
  --desktop-h2-semibold-letter-spacing: 0px;
  --desktop-h2-semibold-line-height: 35px;
  --desktop-h3-bold-font-family: "Roboto", Helvetica;
  --desktop-h3-bold-font-size: 26px;
  --desktop-h3-bold-font-style: normal;
  --desktop-h3-bold-font-weight: 700;
  --desktop-h3-bold-letter-spacing: 0px;
  --desktop-h3-bold-line-height: 32px;
  --desktop-h3-light-font-family: "Roboto", Helvetica;
  --desktop-h3-light-font-size: 26px;
  --desktop-h3-light-font-style: normal;
  --desktop-h3-light-font-weight: 300;
  --desktop-h3-light-letter-spacing: 0px;
  --desktop-h3-light-line-height: 32px;
  --desktop-h3-regular-font-family: "Roboto", Helvetica;
  --desktop-h3-regular-font-size: 26px;
  --desktop-h3-regular-font-style: normal;
  --desktop-h3-regular-font-weight: 400;
  --desktop-h3-regular-letter-spacing: 0px;
  --desktop-h3-regular-line-height: 32px;
  --desktop-h3-semibold-font-family: "Roboto", Helvetica;
  --desktop-h3-semibold-font-size: 26px;
  --desktop-h3-semibold-font-style: normal;
  --desktop-h3-semibold-font-weight: 500;
  --desktop-h3-semibold-letter-spacing: 0px;
  --desktop-h3-semibold-line-height: 32px;
  --desktop-h4-bold-font-family: "Roboto", Helvetica;
  --desktop-h4-bold-font-size: 22px;
  --desktop-h4-bold-font-style: normal;
  --desktop-h4-bold-font-weight: 700;
  --desktop-h4-bold-letter-spacing: 0px;
  --desktop-h4-bold-line-height: 27px;
  --desktop-h4-light-font-family: "Roboto", Helvetica;
  --desktop-h4-light-font-size: 22px;
  --desktop-h4-light-font-style: normal;
  --desktop-h4-light-font-weight: 300;
  --desktop-h4-light-letter-spacing: 0px;
  --desktop-h4-light-line-height: 27px;
  --desktop-h4-regular-font-family: "Roboto", Helvetica;
  --desktop-h4-regular-font-size: 22px;
  --desktop-h4-regular-font-style: normal;
  --desktop-h4-regular-font-weight: 400;
  --desktop-h4-regular-letter-spacing: 0px;
  --desktop-h4-regular-line-height: 27px;
  --desktop-h4-semibold-font-family: "Roboto", Helvetica;
  --desktop-h4-semibold-font-size: 22px;
  --desktop-h4-semibold-font-style: normal;
  --desktop-h4-semibold-font-weight: 500;
  --desktop-h4-semibold-letter-spacing: 0px;
  --desktop-h4-semibold-line-height: 27px;
  --desktop-h5-bold-font-family: "Roboto", Helvetica;
  --desktop-h5-bold-font-size: 20px;
  --desktop-h5-bold-font-style: normal;
  --desktop-h5-bold-font-weight: 700;
  --desktop-h5-bold-letter-spacing: 0px;
  --desktop-h5-bold-line-height: 25px;
  --desktop-h5-light-font-family: "Roboto", Helvetica;
  --desktop-h5-light-font-size: 20px;
  --desktop-h5-light-font-style: normal;
  --desktop-h5-light-font-weight: 300;
  --desktop-h5-light-letter-spacing: 0px;
  --desktop-h5-light-line-height: 25px;
  --desktop-h5-regular-font-family: "Roboto", Helvetica;
  --desktop-h5-regular-font-size: 20px;
  --desktop-h5-regular-font-style: normal;
  --desktop-h5-regular-font-weight: 400;
  --desktop-h5-regular-letter-spacing: 0px;
  --desktop-h5-regular-line-height: 25px;
  --desktop-h5-semibold-font-family: "Roboto", Helvetica;
  --desktop-h5-semibold-font-size: 20px;
  --desktop-h5-semibold-font-style: normal;
  --desktop-h5-semibold-font-weight: 500;
  --desktop-h5-semibold-letter-spacing: 0px;
  --desktop-h5-semibold-line-height: 25px;
  --desktop-h6-bold-font-family: "Roboto", Helvetica;
  --desktop-h6-bold-font-size: 18px;
  --desktop-h6-bold-font-style: normal;
  --desktop-h6-bold-font-weight: 700;
  --desktop-h6-bold-letter-spacing: 0px;
  --desktop-h6-bold-line-height: 22px;
  --desktop-h6-light-font-family: "Roboto", Helvetica;
  --desktop-h6-light-font-size: 18px;
  --desktop-h6-light-font-style: normal;
  --desktop-h6-light-font-weight: 300;
  --desktop-h6-light-letter-spacing: 0px;
  --desktop-h6-light-line-height: 22px;
  --desktop-h6-regular-font-family: "Roboto", Helvetica;
  --desktop-h6-regular-font-size: 18px;
  --desktop-h6-regular-font-style: normal;
  --desktop-h6-regular-font-weight: 400;
  --desktop-h6-regular-letter-spacing: 0px;
  --desktop-h6-regular-line-height: 22px;
  --desktop-h6-semibold-font-family: "Roboto", Helvetica;
  --desktop-h6-semibold-font-size: 18px;
  --desktop-h6-semibold-font-style: normal;
  --desktop-h6-semibold-font-weight: 500;
  --desktop-h6-semibold-letter-spacing: 0px;
  --desktop-h6-semibold-line-height: 22px;
  --extended-palette-blue-base: rgba(26, 121, 203, 1);
  --extended-palette-blue-dark: rgba(22, 103, 173, 1);
  --extended-palette-blue-darker: rgba(18, 85, 142, 1);
  --extended-palette-blue-darkest: rgba(14, 67, 112, 1);
  --extended-palette-blue-light: rgba(95, 161, 219, 1);
  --extended-palette-blue-lighter: rgba(163, 201, 234, 1);
  --extended-palette-blue-lightest: rgba(229, 240, 254, 1);
  --extended-palette-cyan-base: rgba(13, 128, 145, 1);
  --extended-palette-cyan-dark: rgba(11, 108, 123, 1);
  --extended-palette-cyan-darker: rgba(9, 90, 102, 1);
  --extended-palette-cyan-darkest: rgba(7, 70, 80, 1);
  --extended-palette-cyan-light: rgba(86, 166, 178, 1);
  --extended-palette-cyan-lighter: rgba(158, 204, 211, 1);
  --extended-palette-cyan-lightest: rgba(231, 242, 244, 1);
  --extended-palette-grape-base: rgba(174, 62, 201, 1);
  --extended-palette-grape-dark: rgba(148, 53, 171, 1);
  --extended-palette-grape-darker: rgba(122, 43, 141, 1);
  --extended-palette-grape-darkest: rgba(96, 34, 111, 1);
  --extended-palette-grape-light: rgba(198, 120, 217, 1);
  --extended-palette-grape-lighter: rgba(223, 178, 233, 1);
  --extended-palette-grape-lightest: rgba(247, 236, 250, 1);
  --extended-palette-green-base: rgba(55, 178, 77, 1);
  --extended-palette-green-dark: rgba(47, 151, 65, 1);
  --extended-palette-green-darker: rgba(38, 125, 54, 1);
  --extended-palette-green-darkest: rgba(30, 97, 42, 1);
  --extended-palette-green-light: rgba(115, 201, 130, 1);
  --extended-palette-green-lighter: rgba(175, 224, 184, 1);
  --extended-palette-green-lightest: rgba(235, 247, 237, 1);
  --extended-palette-indigo-base: rgba(66, 99, 235, 1);
  --extended-palette-indigo-dark: rgba(56, 84, 200, 1);
  --extended-palette-indigo-darker: rgba(46, 69, 165, 1);
  --extended-palette-indigo-darkest: rgba(36, 54, 129, 1);
  --extended-palette-indigo-light: rgba(123, 146, 241, 1);
  --extended-palette-indigo-lighter: rgba(179, 193, 247, 1);
  --extended-palette-indigo-lightest: rgba(236, 239, 253, 1);
  --extended-palette-lime-base: rgba(116, 184, 22, 1);
  --extended-palette-lime-dark: rgba(99, 156, 19, 1);
  --extended-palette-lime-darker: rgba(81, 129, 15, 1);
  --extended-palette-lime-darkest: rgba(64, 101, 12, 1);
  --extended-palette-lime-light: rgba(158, 205, 92, 1);
  --extended-palette-lime-lighter: rgba(199, 227, 162, 1);
  --extended-palette-lime-lightest: rgba(241, 248, 232, 1);
  --extended-palette-orange-base: rgba(247, 103, 7, 1);
  --extended-palette-orange-dark: rgba(210, 87, 5, 1);
  --extended-palette-orange-darker: rgba(173, 72, 5, 1);
  --extended-palette-orange-darkest: rgba(136, 57, 4, 1);
  --extended-palette-orange-light: rgba(249, 149, 81, 1);
  --extended-palette-orange-lighter: rgba(252, 194, 156, 1);
  --extended-palette-orange-lightest: rgba(254, 240, 230, 1);
  --extended-palette-pink-base: rgba(214, 51, 108, 1);
  --extended-palette-pink-dark: rgba(182, 43, 91, 1);
  --extended-palette-pink-darker: rgba(150, 36, 76, 1);
  --extended-palette-pink-darkest: rgba(118, 28, 59, 1);
  --extended-palette-pink-light: rgba(226, 112, 152, 1);
  --extended-palette-pink-lighter: rgba(239, 173, 196, 1);
  --extended-palette-pink-lightest: rgba(251, 235, 240, 1);
  --extended-palette-red-base: rgba(201, 42, 42, 1);
  --extended-palette-red-dark: rgba(171, 36, 36, 1);
  --extended-palette-red-darker: rgba(140, 29, 29, 1);
  --extended-palette-red-darkest: rgba(110, 23, 23, 1);
  --extended-palette-red-light: rgba(217, 106, 106, 1);
  --extended-palette-red-lighter: rgba(233, 170, 170, 1);
  --extended-palette-red-lightest: rgba(250, 234, 234, 1);
  --extended-palette-teal-base: rgba(8, 127, 91, 1);
  --extended-palette-teal-dark: rgba(7, 108, 77, 1);
  --extended-palette-teal-darker: rgba(6, 89, 64, 1);
  --extended-palette-teal-darkest: rgba(4, 70, 50, 1);
  --extended-palette-teal-light: rgba(82, 165, 140, 1);
  --extended-palette-teal-lighter: rgba(156, 204, 189, 1);
  --extended-palette-teal-lightest: rgba(230, 242, 239, 1);
  --extended-palette-violet-base: rgba(112, 72, 232, 1);
  --extended-palette-violet-dark: rgba(95, 61, 197, 1);
  --extended-palette-violet-darker: rgba(78, 50, 162, 1);
  --extended-palette-violet-darkest: rgba(62, 40, 128, 1);
  --extended-palette-violet-light: rgba(155, 127, 239, 1);
  --extended-palette-violet-lighter: rgba(198, 182, 246, 1);
  --extended-palette-violet-lightest: rgba(241, 237, 253, 1);
  --extended-palette-yellow-base: rgba(245, 159, 0, 1);
  --extended-palette-yellow-dark: rgba(208, 135, 0, 1);
  --extended-palette-yellow-darker: rgba(172, 111, 0, 1);
  --extended-palette-yellow-darkest: rgba(135, 87, 0, 1);
  --extended-palette-yellow-light: rgba(248, 188, 76, 1);
  --extended-palette-yellow-lighter: rgba(251, 217, 153, 1);
  --extended-palette-yellow-lightest: rgba(254, 245, 229, 1);
  --layout-colors-content: rgba(243, 246, 248, 1);
  --layout-colors-login: rgba(255, 255, 255, 1);
  --layout-colorsheader: rgba(255, 255, 255, 1);
  --neutral-neutral-0: rgba(255, 255, 255, 1);
  --neutral-neutral-1: rgba(248, 249, 250, 1);
  --neutral-neutral-10: rgba(16, 18, 19, 1);
  --neutral-neutral-2: rgba(241, 243, 245, 1);
  --neutral-neutral-3: rgba(233, 236, 239, 1);
  --neutral-neutral-4: rgba(222, 226, 230, 1);
  --neutral-neutral-5: rgba(206, 212, 218, 1);
  --neutral-neutral-7: rgba(106, 113, 120, 1);
  --neutral-neutral-9: rgba(39, 43, 48, 1);
  --neutralneutral-6: rgba(173, 181, 189, 1);
  --neutralneutral-8: rgba(79, 87, 94, 1);
  --phone-body-base-font-family: "Roboto", Helvetica;
  --phone-body-base-font-size: 16px;
  --phone-body-base-font-style: normal;
  --phone-body-base-font-weight: 400;
  --phone-body-base-letter-spacing: 0px;
  --phone-body-base-line-height: 24px;
  --phone-body-s-font-family: "Roboto", Helvetica;
  --phone-body-s-font-size: 14px;
  --phone-body-s-font-style: normal;
  --phone-body-s-font-weight: 400;
  --phone-body-s-letter-spacing: 0px;
  --phone-body-s-line-height: 21px;
  --phone-body-XS-font-family: "Roboto", Helvetica;
  --phone-body-XS-font-size: 12px;
  --phone-body-XS-font-style: normal;
  --phone-body-XS-font-weight: 400;
  --phone-body-XS-letter-spacing: 0px;
  --phone-body-XS-line-height: 18px;
  --phone-display-bold-font-family: "Roboto", Helvetica;
  --phone-display-bold-font-size: 32px;
  --phone-display-bold-font-style: normal;
  --phone-display-bold-font-weight: 700;
  --phone-display-bold-letter-spacing: 0px;
  --phone-display-bold-line-height: 40px;
  --phone-display-light-font-family: "Roboto", Helvetica;
  --phone-display-light-font-size: 32px;
  --phone-display-light-font-style: normal;
  --phone-display-light-font-weight: 300;
  --phone-display-light-letter-spacing: 0px;
  --phone-display-light-line-height: 40px;
  --phone-display-regular-font-family: "Roboto", Helvetica;
  --phone-display-regular-font-size: 32px;
  --phone-display-regular-font-style: normal;
  --phone-display-regular-font-weight: 400;
  --phone-display-regular-letter-spacing: 0px;
  --phone-display-regular-line-height: 40px;
  --phone-display-semibold-font-family: "Roboto", Helvetica;
  --phone-display-semibold-font-size: 32px;
  --phone-display-semibold-font-style: normal;
  --phone-display-semibold-font-weight: 500;
  --phone-display-semibold-letter-spacing: 0px;
  --phone-display-semibold-line-height: 40px;
  --phone-h1-bold-font-family: "Roboto", Helvetica;
  --phone-h1-bold-font-size: 28px;
  --phone-h1-bold-font-style: normal;
  --phone-h1-bold-font-weight: 700;
  --phone-h1-bold-letter-spacing: 0px;
  --phone-h1-bold-line-height: 34px;
  --phone-h1-light-font-family: "Roboto", Helvetica;
  --phone-h1-light-font-size: 28px;
  --phone-h1-light-font-style: normal;
  --phone-h1-light-font-weight: 300;
  --phone-h1-light-letter-spacing: 0px;
  --phone-h1-light-line-height: 34px;
  --phone-h1-regular-font-family: "Roboto", Helvetica;
  --phone-h1-regular-font-size: 28px;
  --phone-h1-regular-font-style: normal;
  --phone-h1-regular-font-weight: 400;
  --phone-h1-regular-letter-spacing: 0px;
  --phone-h1-regular-line-height: 34px;
  --phone-h1-semibold-font-family: "Roboto", Helvetica;
  --phone-h1-semibold-font-size: 28px;
  --phone-h1-semibold-font-style: normal;
  --phone-h1-semibold-font-weight: 500;
  --phone-h1-semibold-letter-spacing: 0px;
  --phone-h1-semibold-line-height: 34px;
  --phone-h2-bold-font-family: "Roboto", Helvetica;
  --phone-h2-bold-font-size: 24px;
  --phone-h2-bold-font-style: normal;
  --phone-h2-bold-font-weight: 700;
  --phone-h2-bold-letter-spacing: 0px;
  --phone-h2-bold-line-height: 28px;
  --phone-h2-light-font-family: "Roboto", Helvetica;
  --phone-h2-light-font-size: 24px;
  --phone-h2-light-font-style: normal;
  --phone-h2-light-font-weight: 300;
  --phone-h2-light-letter-spacing: 0px;
  --phone-h2-light-line-height: 28px;
  --phone-h2-regular-font-family: "Roboto", Helvetica;
  --phone-h2-regular-font-size: 24px;
  --phone-h2-regular-font-style: normal;
  --phone-h2-regular-font-weight: 400;
  --phone-h2-regular-letter-spacing: 0px;
  --phone-h2-regular-line-height: 28px;
  --phone-h2-semibold-font-family: "Roboto", Helvetica;
  --phone-h2-semibold-font-size: 24px;
  --phone-h2-semibold-font-style: normal;
  --phone-h2-semibold-font-weight: 500;
  --phone-h2-semibold-letter-spacing: 0px;
  --phone-h2-semibold-line-height: 28px;
  --phone-h3-bold-font-family: "Roboto", Helvetica;
  --phone-h3-bold-font-size: 22px;
  --phone-h3-bold-font-style: normal;
  --phone-h3-bold-font-weight: 700;
  --phone-h3-bold-letter-spacing: 0px;
  --phone-h3-bold-line-height: 24px;
  --phone-h3-light-font-family: "Roboto", Helvetica;
  --phone-h3-light-font-size: 22px;
  --phone-h3-light-font-style: normal;
  --phone-h3-light-font-weight: 300;
  --phone-h3-light-letter-spacing: 0px;
  --phone-h3-light-line-height: 24px;
  --phone-h3-regular-font-family: "Roboto", Helvetica;
  --phone-h3-regular-font-size: 22px;
  --phone-h3-regular-font-style: normal;
  --phone-h3-regular-font-weight: 400;
  --phone-h3-regular-letter-spacing: 0px;
  --phone-h3-regular-line-height: 24px;
  --phone-h3-semibold-font-family: "Roboto", Helvetica;
  --phone-h3-semibold-font-size: 22px;
  --phone-h3-semibold-font-style: normal;
  --phone-h3-semibold-font-weight: 500;
  --phone-h3-semibold-letter-spacing: 0px;
  --phone-h3-semibold-line-height: 24px;
  --phone-h4-bold-font-family: "Roboto", Helvetica;
  --phone-h4-bold-font-size: 20px;
  --phone-h4-bold-font-style: normal;
  --phone-h4-bold-font-weight: 700;
  --phone-h4-bold-letter-spacing: 0px;
  --phone-h4-bold-line-height: 24px;
  --phone-h4-light-font-family: "Roboto", Helvetica;
  --phone-h4-light-font-size: 20px;
  --phone-h4-light-font-style: normal;
  --phone-h4-light-font-weight: 300;
  --phone-h4-light-letter-spacing: 0px;
  --phone-h4-light-line-height: 24px;
  --phone-h4-regular-font-family: "Roboto", Helvetica;
  --phone-h4-regular-font-size: 20px;
  --phone-h4-regular-font-style: normal;
  --phone-h4-regular-font-weight: 400;
  --phone-h4-regular-letter-spacing: 0px;
  --phone-h4-regular-line-height: 24px;
  --phone-h4-semibold-font-family: "Roboto", Helvetica;
  --phone-h4-semibold-font-size: 20px;
  --phone-h4-semibold-font-style: normal;
  --phone-h4-semibold-font-weight: 500;
  --phone-h4-semibold-letter-spacing: 0px;
  --phone-h4-semibold-line-height: 22px;
  --phone-h5-bold-font-family: "Roboto", Helvetica;
  --phone-h5-bold-font-size: 18px;
  --phone-h5-bold-font-style: normal;
  --phone-h5-bold-font-weight: 700;
  --phone-h5-bold-letter-spacing: 0px;
  --phone-h5-bold-line-height: 20px;
  --phone-h5-light-font-family: "Roboto", Helvetica;
  --phone-h5-light-font-size: 18px;
  --phone-h5-light-font-style: normal;
  --phone-h5-light-font-weight: 300;
  --phone-h5-light-letter-spacing: 0px;
  --phone-h5-light-line-height: 20px;
  --phone-h5-regular-font-family: "Roboto", Helvetica;
  --phone-h5-regular-font-size: 18px;
  --phone-h5-regular-font-style: normal;
  --phone-h5-regular-font-weight: 400;
  --phone-h5-regular-letter-spacing: 0px;
  --phone-h5-regular-line-height: 20px;
  --phone-h5-semibold-font-family: "Roboto", Helvetica;
  --phone-h5-semibold-font-size: 18px;
  --phone-h5-semibold-font-style: normal;
  --phone-h5-semibold-font-weight: 500;
  --phone-h5-semibold-letter-spacing: 0px;
  --phone-h5-semibold-line-height: 20px;
  --phone-h6-bold-font-family: "Roboto", Helvetica;
  --phone-h6-bold-font-size: 16px;
  --phone-h6-bold-font-style: normal;
  --phone-h6-bold-font-weight: 700;
  --phone-h6-bold-letter-spacing: 0px;
  --phone-h6-bold-line-height: 18px;
  --phone-h6-light-font-family: "Roboto", Helvetica;
  --phone-h6-light-font-size: 16px;
  --phone-h6-light-font-style: normal;
  --phone-h6-light-font-weight: 300;
  --phone-h6-light-letter-spacing: 0px;
  --phone-h6-light-line-height: 18px;
  --phone-h6-regular-font-family: "Roboto", Helvetica;
  --phone-h6-regular-font-size: 16px;
  --phone-h6-regular-font-style: normal;
  --phone-h6-regular-font-weight: 400;
  --phone-h6-regular-letter-spacing: 0px;
  --phone-h6-regular-line-height: 18px;
  --phone-h6-semibold-font-family: "Roboto", Helvetica;
  --phone-h6-semibold-font-size: 16px;
  --phone-h6-semibold-font-style: normal;
  --phone-h6-semibold-font-weight: 500;
  --phone-h6-semibold-letter-spacing: 0px;
  --phone-h6-semibold-line-height: 18px;
  --semanticerrorbase: rgba(220, 32, 32, 1);
  --semanticerrorlight: rgba(252, 234, 234, 1);
  --semanticinfobase: rgba(1, 122, 173, 1);
  --semanticinfolight: rgba(229, 245, 252, 1);
  --semanticsuccessbase: rgba(41, 130, 59, 1);
  --semanticsuccesslight: rgba(234, 243, 235, 1);
  --semanticwarningbase: rgba(233, 161, 0, 1);
  --semanticwarninglight: rgba(253, 246, 229, 1);
  --shadow-l: 0px 6px 8px 0px rgba(0, 0, 0, 0.1);
  --shadow-m: 0px 4px 6px 0px rgba(0, 0, 0, 0.1);
  --shadow-none: 0px 0px 0px 0px rgba(0, 0, 0, 0);
  --shadow-s: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
  --shadow-XL: 0px 8px 10px 0px rgba(0, 0, 0, 0.1);
  --shadow-XS: 0px 1px 2px 0px rgba(0, 0, 0, 0.1);
  --tablet-body-base-font-family: "Roboto", Helvetica;
  --tablet-body-base-font-size: 16px;
  --tablet-body-base-font-style: normal;
  --tablet-body-base-font-weight: 400;
  --tablet-body-base-letter-spacing: 0px;
  --tablet-body-base-line-height: 24px;
  --tablet-body-s-font-family: "Roboto", Helvetica;
  --tablet-body-s-font-size: 14px;
  --tablet-body-s-font-style: normal;
  --tablet-body-s-font-weight: 400;
  --tablet-body-s-letter-spacing: 0px;
  --tablet-body-s-line-height: 21px;
  --tablet-body-XS-font-family: "Roboto", Helvetica;
  --tablet-body-XS-font-size: 12px;
  --tablet-body-XS-font-style: normal;
  --tablet-body-XS-font-weight: 400;
  --tablet-body-XS-letter-spacing: 0px;
  --tablet-body-XS-line-height: 18px;
  --tablet-display-bold-font-family: "Roboto", Helvetica;
  --tablet-display-bold-font-size: 34px;
  --tablet-display-bold-font-style: normal;
  --tablet-display-bold-font-weight: 700;
  --tablet-display-bold-letter-spacing: 0px;
  --tablet-display-bold-line-height: 40px;
  --tablet-display-light-font-family: "Roboto", Helvetica;
  --tablet-display-light-font-size: 34px;
  --tablet-display-light-font-style: normal;
  --tablet-display-light-font-weight: 300;
  --tablet-display-light-letter-spacing: 0px;
  --tablet-display-light-line-height: 40px;
  --tablet-display-regular-font-family: "Roboto", Helvetica;
  --tablet-display-regular-font-size: 34px;
  --tablet-display-regular-font-style: normal;
  --tablet-display-regular-font-weight: 400;
  --tablet-display-regular-letter-spacing: 0px;
  --tablet-display-regular-line-height: 40px;
  --tablet-display-semibold-font-family: "Roboto", Helvetica;
  --tablet-display-semibold-font-size: 34px;
  --tablet-display-semibold-font-style: normal;
  --tablet-display-semibold-font-weight: 500;
  --tablet-display-semibold-letter-spacing: 0px;
  --tablet-display-semibold-line-height: 40px;
  --tablet-h1-bold-font-family: "Roboto", Helvetica;
  --tablet-h1-bold-font-size: 30px;
  --tablet-h1-bold-font-style: normal;
  --tablet-h1-bold-font-weight: 700;
  --tablet-h1-bold-letter-spacing: 0px;
  --tablet-h1-bold-line-height: 34px;
  --tablet-h1-light-font-family: "Roboto", Helvetica;
  --tablet-h1-light-font-size: 30px;
  --tablet-h1-light-font-style: normal;
  --tablet-h1-light-font-weight: 300;
  --tablet-h1-light-letter-spacing: 0px;
  --tablet-h1-light-line-height: 34px;
  --tablet-h1-regular-font-family: "Roboto", Helvetica;
  --tablet-h1-regular-font-size: 30px;
  --tablet-h1-regular-font-style: normal;
  --tablet-h1-regular-font-weight: 400;
  --tablet-h1-regular-letter-spacing: 0px;
  --tablet-h1-regular-line-height: 34px;
  --tablet-h1-semibold-font-family: "Roboto", Helvetica;
  --tablet-h1-semibold-font-size: 30px;
  --tablet-h1-semibold-font-style: normal;
  --tablet-h1-semibold-font-weight: 500;
  --tablet-h1-semibold-letter-spacing: 0px;
  --tablet-h1-semibold-line-height: 34px;
  --tablet-h2-bold-font-family: "Roboto", Helvetica;
  --tablet-h2-bold-font-size: 26px;
  --tablet-h2-bold-font-style: normal;
  --tablet-h2-bold-font-weight: 700;
  --tablet-h2-bold-letter-spacing: 0px;
  --tablet-h2-bold-line-height: 28px;
  --tablet-h2-light-font-family: "Roboto", Helvetica;
  --tablet-h2-light-font-size: 26px;
  --tablet-h2-light-font-style: normal;
  --tablet-h2-light-font-weight: 300;
  --tablet-h2-light-letter-spacing: 0px;
  --tablet-h2-light-line-height: 28px;
  --tablet-h2-regular-font-family: "Roboto", Helvetica;
  --tablet-h2-regular-font-size: 26px;
  --tablet-h2-regular-font-style: normal;
  --tablet-h2-regular-font-weight: 400;
  --tablet-h2-regular-letter-spacing: 0px;
  --tablet-h2-regular-line-height: 28px;
  --tablet-h2-semibold-font-family: "Roboto", Helvetica;
  --tablet-h2-semibold-font-size: 26px;
  --tablet-h2-semibold-font-style: normal;
  --tablet-h2-semibold-font-weight: 500;
  --tablet-h2-semibold-letter-spacing: 0px;
  --tablet-h2-semibold-line-height: 28px;
  --tablet-h3-bold-font-family: "Roboto", Helvetica;
  --tablet-h3-bold-font-size: 24px;
  --tablet-h3-bold-font-style: normal;
  --tablet-h3-bold-font-weight: 700;
  --tablet-h3-bold-letter-spacing: 0px;
  --tablet-h3-bold-line-height: 24px;
  --tablet-h3-light-font-family: "Roboto", Helvetica;
  --tablet-h3-light-font-size: 24px;
  --tablet-h3-light-font-style: normal;
  --tablet-h3-light-font-weight: 300;
  --tablet-h3-light-letter-spacing: 0px;
  --tablet-h3-light-line-height: 24px;
  --tablet-h3-regular-font-family: "Roboto", Helvetica;
  --tablet-h3-regular-font-size: 24px;
  --tablet-h3-regular-font-style: normal;
  --tablet-h3-regular-font-weight: 400;
  --tablet-h3-regular-letter-spacing: 0px;
  --tablet-h3-regular-line-height: 24px;
  --tablet-h3-semibold-font-family: "Roboto", Helvetica;
  --tablet-h3-semibold-font-size: 24px;
  --tablet-h3-semibold-font-style: normal;
  --tablet-h3-semibold-font-weight: 500;
  --tablet-h3-semibold-letter-spacing: 0px;
  --tablet-h3-semibold-line-height: 24px;
  --tablet-h4-bold-font-family: "Roboto", Helvetica;
  --tablet-h4-bold-font-size: 21px;
  --tablet-h4-bold-font-style: normal;
  --tablet-h4-bold-font-weight: 700;
  --tablet-h4-bold-letter-spacing: 0px;
  --tablet-h4-bold-line-height: 22px;
  --tablet-h4-light-font-family: "Roboto", Helvetica;
  --tablet-h4-light-font-size: 21px;
  --tablet-h4-light-font-style: normal;
  --tablet-h4-light-font-weight: 300;
  --tablet-h4-light-letter-spacing: 0px;
  --tablet-h4-light-line-height: 24px;
  --tablet-h4-regular-font-family: "Roboto", Helvetica;
  --tablet-h4-regular-font-size: 21px;
  --tablet-h4-regular-font-style: normal;
  --tablet-h4-regular-font-weight: 400;
  --tablet-h4-regular-letter-spacing: 0px;
  --tablet-h4-regular-line-height: 22px;
  --tablet-h4-semibold-font-family: "Roboto", Helvetica;
  --tablet-h4-semibold-font-size: 21px;
  --tablet-h4-semibold-font-style: normal;
  --tablet-h4-semibold-font-weight: 500;
  --tablet-h4-semibold-letter-spacing: 0px;
  --tablet-h4-semibold-line-height: 22px;
  --tablet-h5-bold-font-family: "Roboto", Helvetica;
  --tablet-h5-bold-font-size: 19px;
  --tablet-h5-bold-font-style: normal;
  --tablet-h5-bold-font-weight: 700;
  --tablet-h5-bold-letter-spacing: 0px;
  --tablet-h5-bold-line-height: 20px;
  --tablet-h5-light-font-family: "Roboto", Helvetica;
  --tablet-h5-light-font-size: 19px;
  --tablet-h5-light-font-style: normal;
  --tablet-h5-light-font-weight: 300;
  --tablet-h5-light-letter-spacing: 0px;
  --tablet-h5-light-line-height: 20px;
  --tablet-h5-regular-font-family: "Roboto", Helvetica;
  --tablet-h5-regular-font-size: 19px;
  --tablet-h5-regular-font-style: normal;
  --tablet-h5-regular-font-weight: 400;
  --tablet-h5-regular-letter-spacing: 0px;
  --tablet-h5-regular-line-height: 22px;
  --tablet-h5-semibold-font-family: "Roboto", Helvetica;
  --tablet-h5-semibold-font-size: 19px;
  --tablet-h5-semibold-font-style: normal;
  --tablet-h5-semibold-font-weight: 500;
  --tablet-h5-semibold-letter-spacing: 0px;
  --tablet-h5-semibold-line-height: 20px;
  --tablet-h6-bold-font-family: "Roboto", Helvetica;
  --tablet-h6-bold-font-size: 17px;
  --tablet-h6-bold-font-style: normal;
  --tablet-h6-bold-font-weight: 700;
  --tablet-h6-bold-letter-spacing: 0px;
  --tablet-h6-bold-line-height: 22px;
  --tablet-h6-light-font-family: "Roboto", Helvetica;
  --tablet-h6-light-font-size: 17px;
  --tablet-h6-light-font-style: normal;
  --tablet-h6-light-font-weight: 300;
  --tablet-h6-light-letter-spacing: 0px;
  --tablet-h6-light-line-height: 18px;
  --tablet-h6-regular-font-family: "Roboto", Helvetica;
  --tablet-h6-regular-font-size: 17px;
  --tablet-h6-regular-font-style: normal;
  --tablet-h6-regular-font-weight: 400;
  --tablet-h6-regular-letter-spacing: 0px;
  --tablet-h6-regular-line-height: 18px;
  --tablet-h6-semibold-font-family: "Roboto", Helvetica;
  --tablet-h6-semibold-font-size: 17px;
  --tablet-h6-semibold-font-style: normal;
  --tablet-h6-semibold-font-weight: 500;
  --tablet-h6-semibold-letter-spacing: 0px;
  --tablet-h6-semibold-line-height: 18px;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 47.4% 11.2%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;

    --card: transparent;
    --card-foreground: 222.2 47.4% 11.2%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 100% 50%;
    --destructive-foreground: 210 40% 98%;

    --ring: 215 20.2% 65.1%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 224 71% 4%;
    --foreground: 213 31% 91%;

    --muted: 223 47% 11%;
    --muted-foreground: 215.4 16.3% 56.9%;

    --accent: 216 34% 17%;
    --accent-foreground: 210 40% 98%;

    --popover: 224 71% 4%;
    --popover-foreground: 215 20.2% 65.1%;

    --border: 216 34% 17%;
    --input: 216 34% 17%;

    --card: transparent;
    --card-foreground: 213 31% 91%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 1.2%;

    --secondary: 222.2 47.4% 11.2%;
    --secondary-foreground: 210 40% 98%;

    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;

    --ring: 216 34% 17%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}
